.container{
  float: right;
  width: auto;

  :global{
    .ant-menu{
      background: rgba(0,0,0,0.3);
      color: white;
      //border-bottom: 3px solid wheat;
    }

    .ant-menu-item .ant-menu-item-selected{
      color: wheat;
      border-bottom: 3px solid wheat;
    }
  }

}



