

.header{
  position: fixed;
  z-index: 1;
  width: 100%
}

.logo {
  width: auto;
  height: 31px;
  float: left;
}

.logoImg{
  width: 50px;
  border-radius: 50%;
}

.content{
  min-height: 600px;
  margin-top: 64px;
  text-align: center;
  padding: 10px 0;
}

.footer{
  text-align: center;
}
